@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
  Layout = "_Layout.cshtml";
}   

<h2>@Model.Page.Title</h2>

<div id="login">
<div id="janrainEngageEmbed" class="login-oauth"></div>

<div id="or">
<p>OR</p>
</div>

@Html.Partial("_LogonNative", Model)

</div>