@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>

@{
  Layout = "_Layout.cshtml";
}   



@section Masthead {
	@Html.Partial("_Masthead")
}
<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3" type="text/javascript"></script>

<h2>Find a Dinner</h2>

<div id="mapDivLeft">
	<div id="theMap" style="width: 580px; height: 400px;"></div>
</div>

<div id="mapDivRight">
	<div class='hslice' id='2'>
		<h2 class='entry-title'>Popular Dinners</h2>
		<div class="entry-content" id="dinnerList"></div>
		<a rel='feedurl' href='/Dinners/WebSlicePopular' style='display:none;'></a>
	</div>
</div>
