<div id="hm-masthead">
    @if (Model == null)
    { 
        <div id="searchBox">
            <div class="search-text">
                Enter your location or <strong><a href="/dinners">View All Upcoming Dinners</a></strong>.</div>
            <input id="Location" name="Location" type="text" value="" />
            <input id="search" type="submit" value="Search" />
        </div>
    }
</div>
